<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>编辑部门表</title>
  <div th:replace="common/link::header"></div>
</head>
<body>
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-header">基本信息</div>
    <div class="layui-card-body">
      <div class="layui-row">
        <div class="layui-form layui-form-pane" lay-filter="sysDeptForm" id="sysDeptForm">
          <input type="hidden" name="id" id="id">
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">部门名称</label>
              <div class="layui-input-inline">
                <input type="text" lay-verify="required" class="layui-input" name="deptName" placeholder="请输入部门名称"/>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">上级部门</label>
              <div class="layui-input-inline">
                <div class="layui-col-md9">
                  <input name="parentId" type="hidden" value="0">
                  <input name="parentName" type="text" class="layui-input layui-disabled" placeholder="顶级" disabled>
                </div>
                <div class="layui-col-md3">
                  <button type="button" class="layui-btn layui-btn-primary deptWizard">选择</button>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">负责人</label>
              <div class="layui-input-inline">
                <input type="text" lay-verify="required" class="layui-input" name="leader" placeholder="请输入负责人"/>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">手机号</label>
              <div class="layui-input-inline">
                <input type="text" lay-verify="required|phone|number" class="layui-input" name="phone" placeholder="请输入手机号"/>
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">邮箱</label>
              <div class="layui-input-inline">
                <input type="text" lay-verify="required|email" class="layui-input" name="email" placeholder="请输入邮箱"/>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">显示顺序</label>
              <div class="layui-input-inline">
                <input type="number" lay-verify="required" class="layui-input" name="orderNum" placeholder="请输入显示顺序"/>
              </div>
            </div>
          </div>
          <div class="layui-form-item" pane>
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block" id="enabled"></div>
          </div>
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
              <textarea class="layui-textarea" name="remark" placeholder="请输入备注"></textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">创建者</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input layui-disabled" name="createBy" disabled="disabled"/>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">创建时间</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input layui-disabled" name="createTime" disabled="disabled"/>
              </div>
            </div>
          </div>
          <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="save-submit" id="save-submit" value="确认">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="common/script::footer"></div>
<script th:inline="javascript">
  layui.config({
      base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
     index: 'lib/index', //主入口模块
  }).use(['index', 'form','crud','treeSelect'], function(){
    let $ = layui.$,
            treeSelect= layui.treeSelect,
            form = layui.form,
            crud = layui.crud,
            sysDept = [[${sysDept}]];
    form.val('sysDeptForm',sysDept);
    // 编辑
    form.on('submit(save-submit)', function(data) {
      $.ajax({
        type: 'POST',
        url:  ctx + '/system/sysDept/modify',
        data: JSON.stringify(data.field),
        contentType:'application/json;charset=UTF-8',
        dataType: 'json',
        success: function(result) {
          layer.msg(result.message);
          if (result.code === 0) {
            let index = parent.layer.getFrameIndex(window.name);
            // 关闭
            parent.layer.close(index);
            // 刷新
            parent.location.reload();
          }
        }
      });
    });
    // 部门向导
    $('.deptWizard').on('click', function () {
      // 树结构向导
      crud.treeWizard("/system/sysDept/treeSelect",function (result) {
        form.val('sysDeptForm', {
          parentId: result.id,
          parentName: result.name
        });
      });
    });
    crud.setRadio("enabled","enabled",sysDept.enabled);
  });
</script>
</body>
</html>