<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footer">
        <script th:src="@{/static/lib/jq/jquery-2.1.4.min.js}"></script>
        <script th:src="@{/static/lib/jq-ui/jquery-ui.min.js}"></script>
        <script th:src="@{/static/layuiadmin/layui/layui.js}"></script>
        <script th:src="@{/static/lib/ckeditor5/ckeditor.js}"></script>
        <script th:src="@{/static/js/public.js}"></script>
        <script th:src="@{/static/lib/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
        <script th:inline="javascript">
            let ctx = [[${#request.getContextPath()}]];
        </script>
    </div>
</html>