<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangyouwang.module.system.mapper.SysDictValueMapper">
  <resultMap id="BaseResultMap" type="io.github.yangyouwang.module.system.entity.SysDictValue">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dict_type_id" jdbcType="BIGINT" property="dictTypeId" />
    <result column="dict_value_key" jdbcType="VARCHAR" property="dictValueKey" />
    <result column="dict_value_name" jdbcType="VARCHAR" property="dictValueName" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="enabled" jdbcType="VARCHAR" property="enabled" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dict_type_id, dict_value_key, dict_value_name, order_num, enabled, create_by, create_time,
    update_by, update_time, remark
  </sql>
    <select id="findSysDictValueByDictTypeId" resultMap="BaseResultMap">
      select id, dict_type_id, dict_value_key, dict_value_name, enabled, create_by, create_time,update_by, update_time, remark
      from sys_dict_value
      where deleted = 0 and dict_type_id = #{dictTypeId}
      order by order_num asc
    </select>
</mapper>
