<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangyouwang.module.system.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="io.github.yangyouwang.module.system.entity.SysRole">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_key" jdbcType="VARCHAR" property="roleKey" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuIds" />
    <result column="user_id" jdbcType="VARCHAR" property="userIds" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_name, role_key, remark, create_by, create_time, update_by, update_time
  </sql>
    <select id="findRoleById" resultMap="BaseResultMap">
    select
        r.id, r.role_name, r.role_key, r.remark, r.create_by, r.create_time,
        group_concat(rm.menu_id) as menu_id,group_concat(ur.user_id) as user_id
    from sys_role r
    left join sys_role_menu rm on r.id = rm.role_id
    left join sys_user_role ur on r.id = ur.role_id
    where r.deleted = 0 and r.id = #{id}
    group by r.id
    </select>
</mapper>
