<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>日志详情</title>
  <div th:replace="common/link::header"></div>
</head>
<body>
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-header">详情信息</div>
    <div class="layui-card-body">
      <div class="layui-row">
        <div class="layui-form layui-form-pane" lay-filter="log_form" id="log_form">
          <input type="hidden" name="id" id="id">
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">业务标题</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input layui-disabled" name="title" disabled="disabled"/>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">业务类型</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input layui-disabled" name="businessType" disabled="disabled"/>
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">包名称</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input layui-disabled" name="packageName" disabled="disabled"/>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">类名称</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input layui-disabled" name="className" disabled="disabled"/>
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">方法名称</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input layui-disabled" name="methodName" disabled="disabled"/>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">参数名</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input layui-disabled" name="argsName" disabled="disabled"/>
              </div>
            </div>
          </div>
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">参数值</label>
            <div class="layui-input-block">
              <textarea class="layui-textarea layui-disabled" name="argsValue" disabled="disabled"></textarea>
            </div>
          </div>
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">异常类型</label>
            <div class="layui-input-block">
              <textarea class="layui-textarea layui-disabled" name="exceptionName" disabled="disabled"></textarea>
            </div>
          </div>
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">错误信息</label>
            <div class="layui-input-block">
              <textarea class="layui-textarea layui-disabled" name="errMsg" disabled="disabled"></textarea>
            </div>
          </div>
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">异常堆栈信息</label>
            <div class="layui-input-block">
              <textarea class="layui-textarea layui-disabled" name="stackTrace" disabled="disabled"></textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">创建者</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input layui-disabled" name="createBy" disabled="disabled"/>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">创建时间</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input layui-disabled" name="createTime" disabled="disabled"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="common/script::footer"></div>
<script th:inline="javascript">
  layui.config({
      base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
     index: 'lib/index', //主入口模块
  }).use(['index', 'form','crud'], function(){
    let $ = layui.$,
            form = layui.form,
            crud = layui.crud,
            sysLog = [[${sysLog}]];
    form.val('log_form',sysLog);
  });
</script>
</body>
</html>