<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title>日志列表</title>
  <div th:replace="common/link::header"></div>
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <form class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">业务标题</label>
            <div class="layui-input-block">
              <input type="text" name="title" placeholder="请输入业务标题" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">类名称</label>
            <div class="layui-input-block">
              <input type="text" name="className" placeholder="请输入类名称" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">方法名称</label>
            <div class="layui-input-block">
              <input type="text" name="methodName" placeholder="请输入方法名称" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button type="button" class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
            <button type="reset" class="layui-btn layui-btn-primary" lay-submit lay-filter="reset">重置</button>
          </div>
        </div>
      </form>
      <div class="layui-card-body">
        <table id="logTable" lay-filter="logTable"></table>
        <script type="text/html" id="toolbar">
          <div class="layui-btn-container">
            <a sec:authorize="hasAuthority('log:del')" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="removes"><i class="layui-icon layui-icon-delete"></i>删除</a>
          </div>
        </script>
        <script type="text/html" id="tableBar">
          <a sec:authorize="hasAuthority('log:info')" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="info"><i class="layui-icon layui-icon-edit"></i>详情</a>
          <a sec:authorize="hasAuthority('log:del')" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>
<div th:replace="common/script::footer"></div>
<script th:inline="javascript">
  layui.config({
      base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
      index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table'], function() {
    let $ = layui.$,
            form = layui.form,
            table = layui.table;
      //监听搜索
      form.on('submit(search)', function(data) {
        let field = data.field;
          //执行重载
          table.reload('logTable', {
              where: field
          });
      });
      //监听重置
      form.on('submit(reset)', function(data) {
        Object.keys(data.field).forEach(key => (data.field[key] = ''));
        table.reload('logTable', {
          where: data.field
        });
      });
      // 查询列表接口
      table.render({
          elem: '#logTable'
          ,toolbar: '#toolbar'
          ,height: 'full-110'
          ,url:  ctx + '/system/sysLog/page'
          ,cellMinWidth: 80
          ,page: true //开启分页,
          ,cols: [[ //表头
              {type: 'checkbox', fixed: 'left'},
              {field: 'id', title: 'ID', hide:true},
              {field: 'title', title: '业务标题'},
              {field: 'businessType', title: '业务类型'},
              {field: 'className', title: '类名称'},
              {field: 'methodName', title: '方法名称'},
              {field: 'createBy', title: '创建者'},
              {field: 'createTime', title: '创建时间'},
              {toolbar: '#tableBar', title: '操作', width: 300, align:'center',fixed: 'right'}
          ]]
      });
      //头工具栏事件
      table.on('toolbar(logTable)', function(obj) {
        let checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data;
        switch(obj.event) {
          case 'removes':
            if (data.length === 0) {
              layer.msg('请选择需要删除的行')
            } else {
              active.removes(data);
            }
            break;
        }
      });
      //监听行工具事件
      table.on('tool(logTable)', function(obj) {
        let data = obj.data //获得当前行数据
                ,layEvent = obj.event;
        if(layEvent === 'remove'){
          active.remove(data.id);
        } else if(layEvent === 'info') {
          active.infoView(data.id);
        }
      });
      /* 触发弹层 */
      let active = {
        /**
         * 删除
         * @param id 主键
         */
        remove: function(id) {
          layer.confirm('真的删除行么', function(index) {
            $.ajax({
              type: 'DELETE',
              url:  ctx + '/system/sysLog/remove/' + id,
              contentType:'application/json;charset=UTF-8',
              dataType: 'json',
              success: function(result) {
                layer.msg(result.message);
                if (result.code === 0) {
                  layer.close(index);
                  table.reload('logTable');
                }
              }
            });
          });
        },
        /**
         * 批量删除
         * @param obj 对象
         */
        removes: function(obj) {
          let ids = fun.objToArrIds(obj);
          layer.confirm('真的删除行么', function(index) {
            //向服务端发送删除指令
            $.ajax({
              type: 'POST',
              url:  ctx + '/system/sysLog/removes',
              data: JSON.stringify(ids),
              contentType:'application/json;charset=UTF-8',
              dataType: 'json',
              success: function(result) {
                layer.msg(result.message);
                if (result.code === 0) {
                  layer.close(index);
                  table.reload('logTable');
                }
              }
            });
          });
        },
        /**
         * 日志详情
         * @param id 主键
         * */
        infoView: function(id) {
          layer.open({
            type: 2
            ,shade: 0.3
            ,title: '日志详情'
            ,content: ctx + '/system/sysLog/infoPage/' + id
            ,maxmin: true
            ,scrollbar: false
            ,area: ['100%', '100%']
            ,btn: ['关闭']
            ,yes: function(index, layero) {
              layer.closeAll();
            }
          });
        }
      }
  });
</script>
</body>
</html>
