<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须对应Mapper接口的全类名 -->
<mapper namespace="io.github.yangyouwang.common.redpacket.mapper.RedPacketMapper">

    <!-- 表中新建红包 -->
    <insert id="setNewPacket" parameterType="io.github.yangyouwang.common.redpacket.entity.RedPacket">
        INSERT INTO redpacket (
            id, packet_num, symbol, pass_time, packet_url
        ) VALUES (
                     #{packetId}, #{packetNum}, #{symbol}, #{passTime}, #{packetUrl}
                 )
    </insert>


</mapper>