<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>后台管理系统</title>
    <div th:replace="common/link::header"></div>
</head>
<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="#">
                        <cite>[[${sysUser.nickName}]]</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="/sysUser/userInfoPage">基本资料</a></dd>
                        <dd><a lay-href="/sysUser/modifyPassPage">修改密码</a></dd>
                        <hr>
                        <dd id="logout" style="text-align: center;"><a>退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="/mainPage">
                    <span>后台管理系统</span>
                </div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                    <!-- 递归查询菜单 -->
                    <li th:each="menu,menuStat:${sysMenus}" class="layui-nav-item" th:switch="${menu.menuType}">
                        <!-- 菜单 -->
                        <th:block th:case="C">
                            <a th:lay-href="${menu.url}" th:lay-tips="${menu.menuName}" th:lay-direction="${menu.orderNum}">
                                <i class="layui-icon"  th:classappend="${menu.icon}" ></i>
                                <cite>[[${menu.menuName}]]</cite>
                            </a>
                        </th:block>
                        <!-- 目录 -->
                        <th:block th:case="M">
                            <a href="javascript:;" th:lay-tips="${menu.menuName}" th:lay-direction="${menu.orderNum}">
                                <i class="layui-icon"  th:classappend="${menu.icon}" ></i>
                                <cite>[[${menu.menuName}]]</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <!-- 递归目录 -->
                                <th:block th:include="this::children(${menu.children})"></th:block>
                            </dl>
                        </th:block>
                    </li>
                </ul>
            </div>
        </div>

        <th:block th:fragment="children(menus)">
            <dd th:each="menu,menuStat:${menus}" th:switch="${menu.menuType}">
                <!-- 菜单 -->
                <th:block th:case="C">
                    <a th:lay-href="${menu.url}">
                        <i class="layui-icon"  th:classappend="${menu.icon}" ></i>
                        [[${menu.menuName}]]
                    </a>
                </th:block>
                <!-- 目录 -->
                <th:block th:case="M">
                    <a href="javascript:;">
                        <i class="layui-icon"  th:classappend="${menu.icon}" ></i>
                        [[${menu.menuName}]]
                    </a>
                    <dl class="layui-nav-child">
                        <!-- 递归目录 -->
                        <th:block th:include="this::children(${menu.children})"></th:block>
                    </dl>
                </th:block>
            </dd>
        </th:block>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="/mainPage" lay-attr="/mainPage" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>

        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="/mainPage" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<div th:replace="common/script::footer"></div>
<script th:inline="javascript">
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index'],function () {
        let $ = layui.$;
        $('#logout').on('click', function(){
            $.ajax({
                type: 'get',
                url:  ctx + '/logout',
                success: function() {
                    layer.msg("退出成功", {icon:1,time:1000},function(){
                        setTimeout('window.location.reload()',1000);
                    });
                }
            });
        });
    });
</script>
</body>
</html>